* {
    font-style: oblique;
    font-weight: 1000;
    font-size: 36px;
    color: #ffff;
}

body {
    display: block;
    width: 900px;
    top: -200;
}

body {
    background-image: url("/images/gg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

img {
    float: right;
    right: 200px;
    position: absolute;
    border-radius: 50%;
}