* {
    font-style: oblique;
    font-weight: 100;
    font-size: 30px;
    color: #ffffff;
}

body {
    background-image: url("/images/bbbb.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.hobby {
    width: 900px;
}

img {
    float: right;
    right: 200px;
    position: absolute;
    border-radius: 50%;
}