* {
    font-style: oblique;
    font-weight: 100;
    font-size: 32px;
    color: gold;
}

.mine img {
    float: right;
    display: flex;
    right: 800px;

}

.mine img:hover {
    box-shadow: 0 0 10px 7px rgba(0, 140, 186, 0.5);
}

.copyright {
    text-align: center;
    display: block;
}

.asap {
    position: absolute;
    right: 800px;
    font-family: Vampiro One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
}

.name {
    width: 10px;
    height: 200px;
}

.name p {
    height: 157px;
    width: 549px;
    left: 177px;
    top: 208px;
    border-radius: nullpx;
}

body {
    background-image: url("images/gg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

img {
    border-radius: 30%;
}