* {
    font-style: oblique;
    font-weight: 1000;
    font-size: 30px;
    color: #ffffff;
}

#story {
    display: block;
    width: 900px;
}

body {
    background-image: url("/images/bbbb.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    float: right;
    right: 200px;
    position: absolute;
    border-radius: 20%;
}