* {
    font-style: oblique;
    font-weight: 100;
    font-size: 30px;
    color: #ffff;
}

body {
    background-image: url("/images/bbbb.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}